<%= setup_context :title => "Home", :suppress_breadcrumb => true %>

<div class="row">
  <div class="col-md-12">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-4 lg-min-w-450px p30px">
    <h2><%= I18n.t "welcome.heading" %></h2>
    <%= welcome_message %>
  </div>
  <% if !session[:user] %>
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-4 md-mt20px p30px">
    <main class="well" id="login-form-wrapper">
      <h3 class="mt0"><%= I18n.t "login.login_please" %></h3>
      <% if ASOidcUtil.show_login_form %>
        <%= render_aspace_partial :partial => "shared/login" %>
      <% end %>
      <% if AppConfig[:oidc_definitions] and !session[:user] %>
        <p>
          <ul class="list-unstyled">
          <% AppConfig[:oidc_definitions].each do |oidc_definition| %>
            <li><%= link_to I18n.t("plugins.aspace-oidc.login_with", :provider => oidc_definition[:label]), "#{AppConfig[:frontend_proxy_prefix]}auth/#{oidc_definition[:config][:name]}", method: :post, :class => "btn btn-primary navbar-btn btn-default", :style => "width: 100%;" %></li>
          <% end %>
          </ul>
        </p>
      <% end %>
      <% if AppConfig[:allow_user_registration] %>
        <p><%= I18n.t "navbar.register_prefix" %> <%= link_to I18n.t("navbar.register"), {:controller => "users", :action => "new"}, :class => "boring-link" %></p>
      <% end %>
    </main>
  </div>
  <% end %>
</div>
